<% layout("/layouts/boilerplate") %>
<body> 
    <div class="row mt-3">
      <div class="col-8 offset-2">

        <h3>Listing details </h3>
      
    
    <div class="card " style="width: 20rem;">
      <img src=" <%= info.image %>" class="card-img-top show-img" alt="...">
      <div class="card-body">
        <p class="card-text">  <b><%= info.title %></b>  </p> 
      </div>
    </div>
    <div>
      <ul>
        <li> <%= info.description %>  </li>
        <li> <%= info.price.toLocaleString("en-BD") %> </li> 
        <li> <%= info.location %> </li> 
        <li> <%= info.country %> </li>
      </ul>  
    </div>

    
    <a type="button" class="btn btn-secondary" href="/listings/<%= info._id %>/edit">Edit this Listing</a>
    <br /><br />
    <form method="POST" action="/listings/<%=info._id%>?_method=DELETE">
      <button type="button" class="btn btn-danger">Delete this listing</button>
    </form>
  </div>
</div>
</body>
